/TestJsp/nbproject/private/
/TestJsp/build/
/JSPEVD/nbproject/private/
/JSPEVD/build/
/JSPEVD/dist/
/Employee/nbproject/private/
/Employee/build/
/EVD-mid/nbproject/private/
/EVD-mid/build/
/MidExam/nbproject/private/
/MidExam/build/
/Students/nbproject/private/
/Zevd/nbproject/private/
/ZEV/nbproject/private/
/ZEV/build/
